@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --white: #fff;
  --black: #000;
  --grey: #303134;
  --dark-mode: #202124;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  background: var(--dark-mode);
}

code {
  font-family: "Lato", sans-serif;
}

.btn {
  font-family: inherit;
  background: none;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--white);
  transition: 200ms all;
}
.btn:hover {
  text-decoration: underline;
}
.btn:active {
  transform: scale(0.98);
}
